	#hotel_map {
        width: 80%;
        height: 200px;
		margin:10px auto;
    }

@media only screen and (min-width: 481px) {
 	#hotel_map {
  		 height: 500px;
	}
}
	  
@media only screen and (min-width: 769px) {
	#hotel_map {
    	 height: 350px;
    }
}